


<h2>Question Deleted!</h2>

<!-- #Add another question -->

<form  method="GET" action="/questions/new">
  <input type="submit" value="New Question">
</form> 

<!-- View all questions -->
<form  method="POST" action="/questions">
<input type="submit" value="View all questions">





