


<h2>Question Deleted!</h2>

<!-- #Add another question -->


<a href="/questions/new"><button>New question</button></a> <br/></br>
<!-- 
<form  method="GET" action="/questions/new">
  <input type="submit" value="New Question">
</form>  -->




<!-- View all questions -->

<a href="/questions"><button>All questions</button></a>
<!-- <form  method="GET" action="/questions">
<input type="submit" value="View all questions">
</form>  -->



