
<html>

  <head>

    <title>Quora Clone</title>

  </head>


  <body>

    <h1>Quora Clone</h1>
    <table>
    <tr>
      <td> <a href="http://localhost:9393/questions"> View all Questions </a> </td>
    </tr>

    <tr>
      <td><a href="http://localhost:9393/questions/new"> Submit a New Question </a></td>
    </tr>
  </table>
    

  </body>


</html>