
<html>

  <head>

    <title>Quora Clone</title>

  </head>

  <body>

  <h1>Quora Clone</h1>

    <form  method="POST" action="/submit">
      <table style="width:45%">
        <tr>
          <td>Username <input type="text" name="username"></td>
          <td>  Password <input type="text" name="password"> </td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>



  
    <table>
    <tr>
      <td> <a href="http://localhost:9393/questions"> View all Questions </a> </td>
    </tr>

    <tr>
      <td><a href="http://localhost:9393/questions/new"> Submit a New Question </a></td>
    </tr>
  </table>
    

  </body>


</html>