

<form  method="POST" action="/submit">



  Title:<br>
  <input method= "" type="text" name="title" ><br><br>

  Question:<br>

  <textarea method= "" type="text" name="description"> </textarea> <br/><br/>
<!-- 
  <input method= "" type="text" name="description" ><br><br> -->

  <input type="submit" value="Submit">

</form>


